<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name="quiz" connectionString="Data Source=DESKTOP-2K3QFUN\SARKARSQL;Initial Catalog=quizapp;Persist Security Info=True;User ID=sa;Password=qwerty1234"
      providerName="System.Data.SqlClient" />
    <add name="quizzapp.Properties.Settings.quizappConnectionString"
      connectionString="Data Source=DESKTOP-2K3QFUN\SARKARSQL;Initial Catalog=quizapp;Persist Security Info=True;User ID=sa;Password=qwerty1234"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>